// Body
$body-bg: rgb(51, 51, 51);

// Typography
$font-Anton-sans-serif: 'Anton', sans-serif;
$font-Arial-sans-serif: 'Arial', sans-serif;
//$font-size-title: calc(3rem + 5px);
//$font-size-base: calc(1.5rem + 5px);
//$font-size-button: calc(0.8rem + 5px);
//$font-size-table: calc(1.2rem + 5px);
$line-height-base: 1.6;

// Colors
$white: rgb(255, 255, 255);
$gray: rgb(117, 117, 117);
$light: rgb(199, 199, 199);

